/**
 * Fonts
 * Google fonts import and font family classes
 */

@import url('https://fonts.googleapis.com/css?family=Assistant:800|Asul|Bitter|Khula:700|Nobile|Vesper+Libre|Playfair+Display|Droid+Sans|Catamaran|');

 .nobile {
     font-family: 'Nobile', sans-serif  !important;
 }
 .khula {
     font-family: 'Khula', sans-serif  !important;
 }
 .assistant {
     font-family: 'Assistant', sans-serif  !important;
 }
 .bitter {
     font-family: 'Bitter', serif  !important;
 }
 .vesper-libre {
     font-family: 'Vesper Libre', serif  !important;
 }
 .asul {
     font-family: 'Asul', sans-serif  !important;
 }
.playfair-display {
  font-family: 'Playfair Display', sans-serif  !important;
}
.droid-sans {
  font-family: 'Droid Sans', sans-serif  !important;
}
.catamaran {
  font-family: 'Catamaran', sans-serif  !important;
}
.oxygen {
  font-family: 'Oxygen', sans-serif  !important;
}
.open-sans {
  font-family: 'Open Sans', sans-serif  !important;
}
.clicker-script {
  font-family: 'Clicker Script', sans-serif  !important;
}
